
<md-sidenav-container [class.m2app-dark]="isDarkTheme">
  <md-sidenav #sidenav mode="push" class="app-sidenav md-sidenav-push md-side-nav-opened">
    <md-nav-list>
      <md-list-item *ngFor="let link of links">
        <a md-line href="...">{{ link }}</a>
          <md-icon>code</md-icon>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

   Python Bot

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="changeToDarkTheme()">TOGGLE DARK THEME</button>
    <a md-icon-button routerLink="home"  md-tooltip="home">
      <md-icon>home</md-icon>
    </a>
    <a md-icon-button
       md-tooltip="help"
       tooltip-position="below">
      <md-icon>help</md-icon>
    </a>
  </md-toolbar>


  <div class="app-content">
    <md-grid-list cols="9" rowHeight="94.8px">

      <md-grid-tile [colspan]="2" [rowspan]="6" color="primary">
        <md-card #introObj layout="column" layout-fill class="introClass">
          <div flex layout="column" >
            <h1>{{currStage.topic}}</h1>
            <h3>Exercise {{currStage.id}}</h3>
            <br/>
            <h1>Instructions</h1>
            <p>
             {{currStage.instructions}}
            </p>
          </div>
          <div flex layout="column">
          <h1>Tasks</h1>
            <md-list *ngFor="let item of currStage.tasks" class="hintsListElement">
              <md-checkbox>{{item}}</md-checkbox>
            </md-list>
          </div>
          <br/>
          <div flex layout="column">
            <button  md-raised-button color="primary" (click)="collapseHints()">
              <span>Hints</span>
                <md-icon *ngIf="_isCollapsedContent">expand_more</md-icon>
                <md-icon *ngIf="!_isCollapsedContent">expand_less</md-icon>
            </button>

                <md-list [collapse]="_isCollapsedContent" *ngFor="let item of currStage.hints" class="hintsListElement">
                  <md-list-item style="padding-left: 0px;">
                        <md-icon style="margin-right: 2px">check_circle</md-icon>
                        <span>{{item}}</span>
                  </md-list-item>
                </md-list>

          </div>

       </md-card>


      </md-grid-tile>
      <md-grid-tile  [colspan]="4" [rowspan]="5" color="primary">
             <aceEditor  class="text-inside-grid" #editor [text]="currStage.code"
                         (currStatus)="changeStatus($event)"></aceEditor>
      </md-grid-tile >
      <md-grid-tile [colspan]="3" [rowspan]="5" >
        <div *ngIf="chatbotIsOn"  color="primary">
           <chatBot #chatbotcomp [code]="writtenCode" [chatbotinitmessage]="chatbotinitmessage"
           [numofargs] ="currStage.numofargs" [argstype]="currStage.argstype" 
           [stageID]="currStage.id">

           </chatBot>
        </div>
      </md-grid-tile >
      <md-grid-tile [colspan]="4" [rowspan]="1">
        <md-card class="card-accent md-card-flat" layout="row" flex >
          <button  md-raised-button md-tooltip="Click here to submit your code!" (click)="submit()" color="primary">
            Submit your code!
          </button>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </div>

</md-sidenav-container>
<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab (click)="chatbotIsOn = !chatbotIsOn"><md-icon>check circle</md-icon></button>
</span>
