 <div layout="row" layout-fill style="min-height: 100%;">
      <div flex="25" style="overflow-y:auto;margin-top:3%">
        <md-card #introObj layout="column" class="introClass">
          <div flex layout="column" >
            <h1>{{currStage.topic}}</h1>
            <h3>Exercise {{currStage.id}}</h3>
            <br/>
            <h1>Instructions</h1>
            <p>
             {{currStage.instructions}}
            </p>
          </div>
          <div flex layout="column">
          <h1>Tasks</h1>
            <md-list *ngFor="let item of currStage.tasks" class="hintsListElement">
              <md-checkbox>{{item}}</md-checkbox>
            </md-list>
          </div>
          <br/>
          <div flex layout="column">
            <button  md-raised-button color="primary" (click)="collapseHints()">
              <span>Hints</span>
                <md-icon *ngIf="_isCollapsedContent">expand_more</md-icon>
                <md-icon *ngIf="!_isCollapsedContent">expand_less</md-icon>
            </button>

                <md-list [collapse]="_isCollapsedContent" *ngFor="let item of currStage.hints" class="hintsListElement">
                  <md-list-item style="padding-left: 0px;">
                        <md-icon style="margin-right: 2px">check_circle</md-icon>
                        <span>{{item}}</span>
                  </md-list-item>
                </md-list>

          </div>

       </md-card>


      </div>
        <div flex="50" >
          <div layout="column">
            <div flex="75" style="position: absolute;top: 70px;" >
             <aceEditor  class="text-inside-grid" #editor [text]="currStage.code"
                         (currStatus)="changeStatus($event)"></aceEditor>
    
              </div>

  
    <div flex="25" style="position: absolute;bottom: 0;">
        <md-card class="card-accent md-card-flat" >
          <button style="margin-right: inherit;" #submitButton  
          md-raised-button md-tooltip="Click here to submit your code!" (click)="submit()" color="primary">
            Submit your code!
          </button>
        </md-card>
        </div>
      </div>
      <div flex="25">
        <div *ngIf="chatbotIsOn"  color="primary" >
           <chatBot #chatbotcomp [code]="writtenCode" [chatbotinitmessage]="chatbotinitmessage"
           [numofargs] ="currStage.numofargs" [argstype]="currStage.argstype" 
           [stageID]="currStage.id" [currLang]="currLang" [courseApp]="courseApp">

           </chatBot>
        </div>
      </div>
    </div>
</div>