


<!--
   <md-card style="display: inline;">
    <md-input placeholder="Type here"></md-input>
    <button  md-raised-button md-tooltip="Click here to submit your code!" (click)="submit()" color="primary">SEND</button>
  </md-card>
-->

<md-grid-tile-header class="chatbot-footer">
  <h3>This is a header</h3>
</md-grid-tile-header>
<div #chatbotBody style="overflow-y: auto; margin: 20px;max-height: 300px;">
      <div *ngFor="let message of messageList" style="margin: 10px">
        <label>{{message.contant}}</label>
      </div>
</div>
<md-grid-tile-footer class="chatbot-footer">
  <md-input #angularcb1 placeholder="Type here"></md-input>
  <button  md-raised-button md-tooltip="Click here to submit your code!" (click)="sendMessage(angularcb1.value)" color="primary">SEND</button>
</md-grid-tile-footer>
 <!-- <md-grid-tile [colspan]="1" [rowspan]="3" color="primary">
  <div *ngFor="let message of messageList">
    <label>{{message.contant}}</label>
  </div>
  </md-grid-tile>

  <md-grid-tile [colspan]="1" [rowspan]="1" color="primary">
    <input #t type="text"  placeholder="Write your message here...">
    <button  md-raised-button (click)="sendMessage(t.value)" color="primary">SEND</button>
  </md-grid-tile>-->

